<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
  <div class='container '>

    <a class='navbar-brand' href='/home'>QNQSH</a>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='float-end'>
      <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class='navbar-nav'>
          <li class='nav-item dropdown'>
            <a
              class='nav-link dropdown-toggle'
              href='/'
              id='navbarDropdown'
              role='button'
              data-bs-toggle='dropdown'
              aria-expanded='false'
            >
              {{! <img src="https://scontent.fpnh22-2.fna.fbcdn.net/v/t1.6435-9/160955464_1375875866082446_1870874486345536392_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=nwNUv9iawxsAX9pRz1Q&_nc_ht=scontent.fpnh22-2.fna&oh=eb8aa1fd260601759e659cd921d9b343&oe=60DAAC0F" alt="" class="user-avatar"> }}
              HOME
            </a>
            <ul class='dropdown-menu' aria-labelledby='navbarDropdown'>
              <li><a class='dropdown-item' href='/courses/create'>Đăng ký khóa
                  học</a></li>
              <li><a class='dropdown-item' href='/me/stored/courses'>Khóa học
                  của tôi</a></li>
              <li><a class='dropdown-item' href='/me/stored/news'>Bài đăng của
                  tôi</a></li>
              <li><a class='dropdown-item' href='/me/stored/user'>USer của app</a></li>
              <li><hr class='dropdown-divider' /></li>
              <li><a class='dropdown-item' href='#'>Đăng xuất</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
